
<div class="flex flex-col xs:px-20 sm:px-40 md:px-80 lg:px-160 xl:px-170 2xl:px-180    sm:py-5 md:py-10 lg:py-20 xl:py-30   place-content-center items-center bg-local bg-cover bg-center min-w-screen min-h-screen" style="background-image: url('assets/images/bggg.png');">

  <div class="w-fit h-fit xs:px-5 sm:px-10 md:px-20 lg:px-30 xl:px-40 2xl:px-60 py-10  bg-gradient-to-r from-sky-100 to-indigo-100 shadow-2xl drop-shadow-xl rounded-lg opacity-90 place-content-center items-center">

    <div class="flex flex-col h-fit w-72  place-content-center items-center">

      <div class="flex justify-center">
        <img class="xs:h-12 xs:w-12 sm:h-16 sm:w-16 md:h-20 md:w-20 lg:h-20 lg:w-20 xl:w-40 xl:h-40 2xl:w-45 2xl:h-45" src="assets/images/logo/emr1.png" alt="Smart EMR">
      </div>
      <!-- <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm"> -->
      <div class="mt-4 w-full h-full">
        <form class="space-y-6" method="POST" [formGroup]="signInForm"
          #signInNgForm="ngForm">
          <div>
            <div class="mt-1">
              <mat-form-field class="w-full">
                <mat-label>Username</mat-label>
                <input
                  id="username"
                  matInput
                  [formControlName]="'username'">
                <mat-error *ngIf="signInForm.get('username').hasError('required')">
                  ระบุชื่อผู้ใช้งาน Username
                </mat-error>

              </mat-form-field>

            </div>
          </div>

          <div class="mt-1">
            <mat-form-field class="w-full">
              <mat-label>Password</mat-label>
              <input
                id="password"
                matInput
                type="password"
                [formControlName]="'password'"
                #passwordField>
              <button
                mat-icon-button
                type="button"
                (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                matSuffix>
                <mat-icon
                  class="icon-size-5"
                  *ngIf="passwordField.type === 'password'"
                  [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                <mat-icon
                  class="icon-size-5"
                  *ngIf="passwordField.type === 'text'"
                  [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
              </button>
              <mat-error>
                ระบุรหัสผ่าน Password
              </mat-error>
            </mat-form-field>
          </div>

          <button
            class="w-full h-12 ripple rounded-full bg-rose-600 text-white"
            mat-flat-button
            [disabled]="signInForm.disabled"
            (click)="signIn()">
            <span *ngIf="!signInForm.disabled">
              Login Now
            </span>
            <mat-progress-spinner
              *ngIf="signInForm.disabled"
              [diameter]="24"
              [mode]="'indeterminate'"></mat-progress-spinner>
          </button>

          <!-- <div>
                <button type="submit" class="w-full h-12 ripple opacity-100 rounded-full bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 hover:bg-gradient-to-l from-indigo-800 via-purple-800 text-2xl leading-6 text-white text-center  focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Login Now</button>
            </div> -->
        </form>

      </div>
    </div>

  </div>
</div>
